My workflow 4.json
{
  "name": "My workflow 4",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1B96LdNwtS9W0zMfuXxD00ICZs_hxKQYDnhSC4UHhyFs",
          "mode": "list",
          "cachedResultName": "E_Commerce orders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1B96LdNwtS9W0zMfuXxD00ICZs_hxKQYDnhSC4UHhyFs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1B96LdNwtS9W0zMfuXxD00ICZs_hxKQYDnhSC4UHhyFs/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "d1cd724c-553c-449e-bcdf-cfb4cbbf11a2",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QW2epcjG28PFQc1g",
          "name": "OAUTH ACCOUNT"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "094bc965-d287-4cf1-bc39-23678949f8d7",
              "leftValue": "={{ $json['Payment Status'] }}",
              "rightValue": "paid",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "a433e345-b881-4b5f-98cb-2c3389f07324",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d50aaa65-c2e3-4bcc-ad1a-568002709997",
              "name": "status",
              "value": "payment pending  (order held)",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        144
      ],
      "id": "f1a8ae6e-f1f4-4729-b9d3-c27606c7082b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Country }}",
                    "rightValue": "Pakistan ",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "74359b5a-fc8b-4623-b429-81d11df5e1cc"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "92b16cc0-6361-49d7-9887-b19959358eab",
                    "leftValue": "={{ $json.Country }}",
                    "rightValue": "USA",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "268893f9-2f0f-46f5-a0d5-255e495716e8",
                    "leftValue": "={{ $json.Country }}",
                    "rightValue": "UK",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        624,
        -96
      ],
      "id": "529a9ce7-91f5-442d-8134-1ed8cb13655a",
      "name": "Switch",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "fd7d6686-47d4-4084-874e-9bccf530fae2",
              "leftValue": "={{ $json['Order Amount '] }}",
              "rightValue": 10000,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        832,
        -240
      ],
      "id": "6109f14b-a79b-4882-a24b-a40507cbb323",
      "name": "If1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "bc267b9b-5492-4492-840a-dedc636012d5",
              "leftValue": "={{ $json['Order Amount '] }}",
              "rightValue": 10000,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        832,
        -16
      ],
      "id": "7cb6542d-406d-491f-baa9-34e77ac5491c",
      "name": "If2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "99c26ff3-378b-44c6-a565-12f399cb1c09",
              "leftValue": "={{ $json['Order Amount '] }}",
              "rightValue": 10000,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        848,
        224
      ],
      "id": "467dafac-1aa6-48d0-91a0-0dca4978231f",
      "name": "If3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a4c39add-c244-4b05-b056-0803d87297d9",
              "name": "status",
              "value": "=Region not supported",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        784,
        400
      ],
      "id": "bc82f13b-bcba-453b-8a95-f767dca972b3",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "09a047e6-b37e-43bc-a03b-82032ec765c4",
              "name": "Flag",
              "value": "High value ---- Manager review required",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1040,
        -352
      ],
      "id": "bfeb66e6-498b-4aca-b256-485d4d6f50c5",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "673ebf36-8d56-4d5a-8ddd-205b14006403",
              "name": "Flag",
              "value": "High value ----- Manager Review Required",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1040,
        -32
      ],
      "id": "52adf899-2bc9-4c69-bfc7-de5409160805",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "37400a64-7ec3-474b-ae0d-2212131915b2",
              "name": "Flag",
              "value": "High value ------ Manager Review Required",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1024,
        208
      ],
      "id": "9b82823b-1b38-460b-a58a-269cb0e4f722",
      "name": "Edit Fields4"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1248,
        -272
      ],
      "id": "96a249ba-9821-4d8d-b67a-af7e14dbb7b1",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "30df242b-52fa-4174-a1d7-5148df0ff3de",
              "name": "Flag",
              "value": "Low value ",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1040,
        -192
      ],
      "id": "22f3c651-d8b2-4507-ad46-554c5ccb810d",
      "name": "Edit Fields5"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1408,
        -112
      ],
      "id": "30e697dd-ba2b-498a-92a9-f357ec132fed",
      "name": "Merge1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1216,
        128
      ],
      "id": "fa45c71b-28a0-4f57-b791-10dd723052ac",
      "name": "Merge2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1328,
        368
      ],
      "id": "f214582a-ba6f-41b4-8f94-ab8539f6ffac",
      "name": "Merge3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "14ecfdc7-4ab3-495d-b145-4b48c1b462b6",
              "name": "Flag",
              "value": "Low value",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1088,
        416
      ],
      "id": "77b5c9e4-6d06-4f2a-8c50-2d3d32f84b70",
      "name": "Edit Fields6"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1408,
        608
      ],
      "id": "e04a4cc0-4ae3-4404-b063-69fdb95c6289",
      "name": "Merge4"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Get row(s) in sheet').item.json['Customer Type'] }}",
                    "rightValue": "VIP",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "5868e861-2725-4d9a-8711-331fb09a148d"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c0e8bd86-2737-4383-a2d9-4acc31a55974",
                    "leftValue": "={{ $('Get row(s) in sheet').item.json['Customer Type'] }}",
                    "rightValue": "regular",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c8288926-1f18-4095-bc23-4afed6c7c257",
                    "leftValue": "={{ $('Get row(s) in sheet').item.json['Customer Type'] }}",
                    "rightValue": "new",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1552,
        80
      ],
      "id": "8a1cd394-1716-4409-b055-12a1b5c1a1e1",
      "name": "Switch1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "225b7adf-e1ef-4b7e-905e-d5d5f4b63305",
              "name": "VIP",
              "value": "Send VIP discount Email",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1680,
        -176
      ],
      "id": "5dce684d-3512-4967-a4f8-8889d02d8efa",
      "name": "Edit Fields7"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f3996467-e1ba-403f-83f0-31771255aa2b",
              "name": "Regular",
              "value": "send standard Invoice",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1792,
        -64
      ],
      "id": "5b3049a7-be4a-42fb-bfd4-cc9b97653295",
      "name": "Edit Fields8"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "12d4a45a-3a38-485b-b52d-dfb65a91a5b1",
              "name": "New",
              "value": "Send welcome Email",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1808,
        80
      ],
      "id": "ecc725f8-09c0-44e2-bde9-31c0fac75477",
      "name": "Edit Fields9"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2048,
        16
      ],
      "id": "d630629f-ee86-4d5b-b92a-18275f564302",
      "name": "Merge5"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1B96LdNwtS9W0zMfuXxD00ICZs_hxKQYDnhSC4UHhyFs",
          "mode": "list",
          "cachedResultName": "E_Commerce orders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1B96LdNwtS9W0zMfuXxD00ICZs_hxKQYDnhSC4UHhyFs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 641877750,
          "mode": "list",
          "cachedResultName": "final result",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1B96LdNwtS9W0zMfuXxD00ICZs_hxKQYDnhSC4UHhyFs/edit#gid=641877750"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Order ID ": "={{ $('Get row(s) in sheet').item.json['Order ID '] }}",
            "Customer Name": "={{ $('Get row(s) in sheet').item.json['Customer Name'] }}",
            "Country": "={{ $('Get row(s) in sheet').item.json.Country }}",
            "Order Amount ": "={{ $('Get row(s) in sheet').item.json['Order Amount '] }}",
            "Payment Status": "={{ $('Get row(s) in sheet').item.json['Payment Status'] }}",
            "Customer Type": "={{ $('Get row(s) in sheet').item.json['Customer Type'] }}",
            "processed date": "={{ $now }}",
            "Final action": "={{ $json.VIP }}\n{{ $json.Regular }}\n{{ $json.New }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Order ID ",
              "displayName": "Order ID ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Customer Name",
              "displayName": "Customer Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Country",
              "displayName": "Country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Order Amount ",
              "displayName": "Order Amount ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Payment Status",
              "displayName": "Payment Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Customer Type",
              "displayName": "Customer Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Final action",
              "displayName": "Final action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processed date",
              "displayName": "processed date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2192,
        80
      ],
      "id": "fc67a0d0-f7ef-4bd9-9894-4f1b3d6d3115",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QW2epcjG28PFQc1g",
          "name": "OAUTH ACCOUNT"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        16,
        0
      ],
      "id": "865cea34-0244-4225-a3e4-8626d309aacf",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "pinData": {},
  "connections": {
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields9",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Edit Fields7": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields8": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields9": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge5": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "d76b77e0-28dc-4106-86ab-f36858591672",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a28836032c960f6f14186e7851fa614855835f2e0f01d0094fc93c43cb70870c"
  },
  "nodeGroups": [],
  "id": "0VdnEzEYnDVXBmIG",
  "tags": []
}